#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/.vs/GameStore/DesignTimeBuild/.dtbcache.v2
/.vs/GameStore/FileContentIndex/77004faa-9075-45cc-8ad9-cbe7ff3ef3db.vsidx
/.vs/GameStore/FileContentIndex/read.lock
/.vs/GameStore/v17/.futdcache.v1
/.vs/ProjectEvaluation/gamestore.metadata.v2
/.vs/ProjectEvaluation/gamestore.projects.v2
/.vs/VSWorkspaceState.json
